version: '3.8'
services:
frontend:
build: ./frontend
container_name: express_frontend
ports:
- "3000:3000"
depends_on:
- backend
networks:
- appnet


backend:
build: ./backend
container_name: flask_backend
ports:
- "5000:5000"
networks:
- appnet


networks:
appnet:
driver: bridge