mongo:
image: mongo:6
container_name: mongo_db
ports:
- "27017:27017"
volumes:
- mongo_data:/data/db
networks:
- appnet


backend:
build: ./backend
environment:
- MONGO_URI=mongodb://mongo:27017/
ports:
- "5000:5000"
depends_on:
- mongo
networks:
- appnet


volumes:
mongo_data: